* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    background: #EBE7E7;
  }
  
  .header {
    text-align: center;
    padding: 32px;
    background: #E0DDDD;
  }
  
  #gallery {
    display: flex; /*Flexbox can be thought of as having two axes, the main axis and the cross axis. The main axis is determined by the flex-direction property. If flex-direction is set to row or row-reverse, the main axis is horizontal. If flex-direction is set to column or column-reverse, the main axis is vertical.*/
    flex-direction: row;
    flex-wrap: wrap; /*The flex-wrap property determines how your items should behave when the flex container is too small. Setting this property to wrap will allow your items to wrap to the next row/column (depending on your main axis), where nowrap will prevent your items from wrapping. When this is set to nowrap, items may either shrink to fit or overflow. images take a four-column layout. This is because you set their width to 25% in an earlier step.*/
    justify-content: center; /*The justify-content property determines how the items inside a flex container are positioned along the main axis, affecting their position and the space around them.*/
    align-items: center; /*The align-items property positions the flex content along the cross axis. In this case, with your flex-direction set to row, your cross axis would be vertical.*/
    padding: 0 4px;
  }
  
  #gallery img {
    width: 25%;
    height: 300px;
    object-fit: cover; /*<!--Notice how some of your images have become distorted. This is because the images have different aspect ratios. Rather than setting each aspect ratio individually, you can use the object-fit property to determine how images should behave.-->
    */
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
  }
  
  @media (max-width: 800px) {
    #gallery img {
      width: 50%;
    }
  }

  @media (max-width: 600px) { /*Finally, create another media query for screens smaller than 600px wide.*/
    #gallery img {
      width: 100%;
    }
  }